@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@500&family=Raleway:ital,wght@0,100;0,600;0,900;1,100;1,600;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top:20px ;
    padding-bottom: 20px;
    background-color: cornflowerblue;
}

.nav-li {
    list-style: none;
}
.nav-li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
     font-family: 'Montserrat', sans-serif;    ;
}
.nav-li a:hover{
    color: brown;
    font-size: 30px;
}


.Header--h1 {
    text-align: center;
    background: #123421;
    padding-top: 50px;
    padding-bottom: 50px;
    color: aliceblue;
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 300;


}

h1 {
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.Main-body {
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;

   
}

.element1 {
   
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.element2 {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.main--imgs {
    width: 400px;
    height: 300px;
}
