@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@500&family=Raleway:ital,wght@0,100;0,600;0,900;1,100;1,600;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: cornflowerblue;
}

.nav-li {
    list-style: none;
}

.nav-li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    ;
}

.nav-li a:hover {
    color: brown;
    font-size: 30px;
}


.Header--h1 {
    text-align: center;
    background: #123421;
    padding-top: 50px;
    padding-bottom: 50px;
    color: aliceblue;
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 300;


}

h1 {
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.Main-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


}

.element1 {

    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.element2 {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.main--imgs {
    width: 400px;
    height: 300px;
}

.e1--text {
    width: 50%;
}

.e1--text p {
    padding: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.solution {
    padding: 70px;

}

.solution p {
    padding: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.project--con {
    display: grid;
    width: 98vw;
    height: 98vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url(./map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(64, 61, 61, 0.45);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);

}

.pro--states h4 {
    color: aliceblue;
    font-family: 'Lora', serif;
}

.pro--dis li {
    color: aliceblue;
    font-family: 'Lora', serif;
}

.pro--states {
    padding: 15px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 20px;

}

.pro--dis {
    padding: 40px;
}

.pro--form {
    padding: 40px;
}

.pro--form label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 15px;
    color: white;
}

.pro--form input {
    padding-top: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 200px;
    height: 30px;

}

.submit {
    margin-left: 40px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background: #6c94de;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    cursor: pointer;

}
.whale{
    grid-column-start: 3;
    grid-column-end: 4;
}